# Dependencies
/node_modules
/coverage

# Build Artifacts
/dist
/dist-ssr
/logs
*.tsbuildinfo

# Logs & Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.eslintcache

# OS Files
.DS_Store
*.local

# Editor/IDE Files
.vscode/*
!.vscode/extensions.json # Mantener excepciones
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git (Ya ignorado implícitamente, pero mantenerlo explícito si se quiere)
.git

# Testing (Cypress & Vitest)
/cypress/videos/
/cypress/screenshots/
/__screenshots__/