name: Deploy HTML to Server

on:
  push:
    branches:
      ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/ejemplo
          chmod 600 ~/.ssh/ejemplo

      - name: Deploy via SCP
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.USERNAME }}@${{ secrets.HOST }} "rm -rf /ejemplo/${{ secrets.USERNAME }}/**"
          scp -o StrictHostKeyChecking=no -r ./ ${{ secrets.USERNAME }}@${{ secrets.HOST }}:/ejemplo/${{ secrets.USERNAME }}/